.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialog a {
  text-decoration: none;
  color: white;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems img {
  border-radius: 50%;
  width: 30px;
}

.messages {
  padding: 10px;
  color: white;
}
